<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>首页_zhangxxun</title>
	<link rel="stylesheet" href="__CSS__/bootstrap.min.css" />
	<link rel="stylesheet" href="__CSS__/public.css" />
	<link rel="stylesheet" href="__CSS__/index.css" />
	<link rel="stylesheet" href="__CSS__/swiper-4.3.3.min.css" />
	<link rel="stylesheet" href="__CSS__/font-awesome.min.css" />
	<script src="__JS__/jquery-3.3.1.min.js"></script>
	<script type="text/javascript">
		window.onload = function () {
			var img = $('img');
			var num = 0;
			if (img.length == 0) {
				$('.loadhtml').fadeOut();
			} else {
				img.each(function (i) {
					var objImg = new Image();
					objImg.onload = function () {
						num++;
						if (num >= i) {
							$('.loadhtml').fadeOut();
						}
					}
					objImg.src = img[i].src;
				});
			}
		}
	</script>
</head>

<body class="blog-box">
	<!-- Load -->
	<div class="loadhtml" id="load">
		<div class="spinner">
			<div class="spinner-container container1">
				<div class="circle1"></div>
				<div class="circle2"></div>
				<div class="circle3"></div>
				<div class="circle4"></div>
			</div>
			<div class="spinner-container container2">
				<div class="circle1"></div>
				<div class="circle2"></div>
				<div class="circle3"></div>
				<div class="circle4"></div>
			</div>
			<div class="spinner-container container3">
				<div class="circle1"></div>
				<div class="circle2"></div>
				<div class="circle3"></div>
				<div class="circle4"></div>
			</div>
		</div>
	</div>
	<!-- top blog welcome -->
	<header class="header-welcome">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<img src="__STATIC__/images/logo.png" alt="">
				</div>
			</div>
		</div>
	</header>
	<!-- primary coverage -->
	<section class="content">
		<div class="container">
			<div class="row">
				<!-- content left -->
				<div class="coverage-left col-md-8">
					<!-- conent banner img -->
					<div class="coverleft-banner">
						<div class="swiper-container">
							<div class="swiper-wrapper">
								{volist name="banner" id="banner" empty="暂时没有轮播哦"}
								<div class="swiper-slide">
									<a href="{$banner.banner_link}">
										<img src="{$banner.banner_route}" alt="">
									</a>
								</div>
								{/volist}
							</div>
							<div class="swiper-pagination"></div>
						</div>
					</div>
					<!-- content navbar -->
					<div class="coverleft-nav">
						<nav class="navbar navbar-default">
							<div class="container-fluid">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
									 aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
									<a class="navbar-brand" href="{:url('index/index/index')}">zhangxxun</a>
								</div>
								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
									<ul class="nav navbar-nav navbar-right">
										{volist name="cate" id="vo"}
										<li {if condition="$vo.id eq 1" }class="active" {/if}> <a href="{:url($vo.cate_link)}">{$vo.cate_name}</a>
										</li>
										{/volist}
									</ul>
								</div>
							</div>
						</nav>
					</div>
					<!-- article box -->
					<article class="article">
						{volist name="article" id="article" empty='暂时没有文章哦!'}
						<div class="article-box">
							<div class="row">
								<div class="aclebox-left col-sm-4">
									<a href="{:url('index/details/details',['cate'=>$article.cate.cate_english_name,'serial' => $article.article_serial.$article.id])}"
									 class="article-img">
										<img src="__STATIC__/upload/article/thumb/{$article.article_cover}" alt="">
									</a>
								</div>
								<div class="aclebox-right col-sm-8">
									<div class="header-label">
										<a class="label-title" href="{:url('index/aclemore/aclemore',['articleCate'=>$article.cate.id])}">{$article.cate.cate_name}</a>
										<img src="__STATIC__/images/header-label.png" alt="">
									</div>
									<div class="article-text">
										<a href="{:url('index/details/details',['cate'=>$article.cate.cate_english_name,'serial' => $article.article_serial.$article.id])}"
										 class="article-title">
											<h4 title="">{$article.article_name}</h4>
										</a>
									</div>
									<div class="article-content">
										<p class="content-text">{$article.introduction}</p>
									</div>
								</div>
								<div class="aclebox-footer col-sm-12">
									<div class="icon-left">
										<i class="fa fa-calendar aclebox-icon-blue"></i>
										<span>{$article.article_time|date="Y-m-d",###}</span>
										<i class="fa fa-eye aclebox-icon"></i>
										<span>查看(
											<b>{$article.article_click}</b>)次</span>
										<i class="fa fa-heart aclebox-icon-red"></i>
										<span>喜欢(
											<b>{$article.article_like}</b>)</span>
									</div>
									<div class="text-more">
										<a href="{:url('index/details/details',['cate'=>$article.cate.cate_english_name,'serial' => $article.article_serial.$article.id])}"
										 class="article-more">全文查看>>></a>
									</div>
								</div>
							</div>
						</div>
						{/volist}
					</article>
					<div class="coverage-left-footer">
						<a href="{:url('index/aclemore/aclemore')}">
							<b>查看更多>>></b>
						</a>
					</div>
				</div>
				<!-- content right -->
				<div class="coverage-right col-md-4">
					<!-- content right  recommend-->
					<div class="recommend">
						<div class="recommend-title">
							<h3>本站推荐</h3>
						</div>
						<!-- recommend block  -->
						{volist name="recommend" id="recommend" empty="当前没有推荐"}
						<div class="recommend-block">
							<a href="{:url('index/details/details',['cate'=>'recommend','serial' => $recommend.serial.$recommend.id])}"
							 class="block-img">
								<img src="__STATIC__/upload/article/thumb/{$recommend.cover}" alt="">
							</a>
							<div class="recimg-title">
								<h4>本站推荐</h4>
							</div>
							<div class="recimg-text">
								<h4>{$recommend.name}</h4>
							</div>
						</div>
						{/volist}
					</div>
					<!-- content right  label-->
					<div class="coveright-label">
						<h3 class="label-top">标签</h3>
						<ul class="label-list">
							{volist name="tags" id="tags" empty="暂时没有标签"}
							<a href="{:url('index/aclemore/aclemore',['tags'=>$tags.id])}">
								<li style="background-color:{$tags.tags_color}">
									<h3>{$tags.tags_title}</h3>
								</li>
								<div class="list-line"></div>
							</a>
							{/volist}
						</ul>
					</div>
					<!-- content right  aboutme-->
					<div class="coveright-about">
						<div class="about-wall"></div>
						<div class="about-content">
							<div class="about-name">
								<h3 class="chinese-name">周维庆</h3>
								<h3 class="english-name">ZionCheung</h3>
							</div>
							<div class="about-ability">
								<ul class="ability-list">
									<li>Web前端开发</li>
									<li>Php后台开发</li>
									<li>Photoshop图像处理</li>
									<li>Flash动画处理</li>
								</ul>
							</div>
							<div class="ability-introduction">
								<p>一个90后男青年,现居于重庆,16年计算机专业毕业后,致力于网页开发技术,对WEB开发兴趣浓厚,以致于终日代码为伴,憧憬着成为一位不折不扣的程序员。</p>
							</div>
						</div>
						<div class="about-head">
							<img src="__STATIC__/images/mehead-2.jpg" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- optimization -->
	<div class="optimization">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="option-header">
						<h3>优选</h3>
					</div>
					<div class="option-box">
						<!-- optimization box -->
						{volist name="optimization" id="option" empty="暂时没有数据哦"}
						<div class="option-img col-sm-3">
							<a href="" class="img-href">
								<img src="__STATIC__/upload/article/thumb/{$option.article_cover}" alt="">
							</a>
							<a class="img-rectangle" href="{:url('index/details/details',['cate'=>'optimization','serial' => $option.article_serial.$option.id])}">
								<h4>{$option.article_name}</h4>
							</a>
							<div class="img-line-left">
								<i class="left"></i>
							</div>
							<div class="img-line-right">
								<i class="right"></i>
							</div>
							<div class="img-line-top">
								<i class="top"></i>
							</div>
							<div class="img-line-bottom">
								<i class="bottom"></i>
							</div>
						</div>
						{/volist}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- index-footer -->
	<footer class="index-footer">
		<div class="footer-contact">
			<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=939129894&site=qq&menu=yes">
				<i class="fa fa-qq" style="margin-right: 8px;"></i>939129894</a>
			<a>
				<i class="fa fa-weixin" style="margin-right: 8px;"></i>zhangxunxun957loveme</a>
			<a>
				<i class="fa fa-envelope-o" style="margin-right: 8px;"></i>zhangxunxun1314@outlook.com</a>
		</div>
		<div class="footer-thank">
			<a href="">感谢您的访问(我有话要说)!</a>
		</div>
		<div class="footer-record">
			<p>2018.8 | ZhangXxun_v2.0</p>
			<p>蜀ICP备18020042号-1</p>
		</div>
	</footer>
	<script src="__JS__/bootstrap.min.js"></script>
	<script src="__JS__/swiper-4.3.3.min.js"></script>
	<script type="text/javascript">
		var swiper = new Swiper('.swiper-container', {
			pagination: {
				el: '.swiper-pagination',
				dynamicBullets: true,
			},
			autoplay: {
				delay: 3000,
				stopOnLastSlide: false,
				disableOnInteraction: true,
			},
		});
	</script>
	<script>(function (T, h, i, n, k, P, a, g, e) { g = function () { P = h.createElement(i); a = h.getElementsByTagName(i)[0]; P.src = k; P.charset = "utf-8"; P.async = 1; a.parentNode.insertBefore(P, a) }; T["ThinkPageWeatherWidgetObject"] = n; T[n] || (T[n] = function () { (T[n].q = T[n].q || []).push(arguments) }); T[n].l = +new Date(); if (T.attachEvent) { T.attachEvent("onload", g) } else { T.addEventListener("load", g, false) } }(window, document, "script", "tpwidget", "//widget.seniverse.com/widget/chameleon.js"))</script>
	<script>tpwidget("init", {
			"flavor": "bubble",
			"location": "WX4FBXXFKE4F",
			"geolocation": "enabled",
			"position": "top-left",
			"margin": "10px 10px",
			"language": "zh-chs",
			"unit": "c",
			"theme": "chameleon",
			"uid": "UB864F5EDC",
			"hash": "7e7f55d4945d31971ac8c7843412d8d3"
		});
		tpwidget("show");</script>
</body>

</html>