<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>学海无涯_zhangxxun</title>
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css" />
    <link rel="stylesheet" href="__CSS__/font-awesome.min.css" />
    <link rel="stylesheet" href="__CSS__/public.css" />
    <link rel="stylesheet" href="__CSS__/study.css" />
    <script src="__JS__/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            var img = $('img');
            var num = 0;
            if (img.length == 0) {
                $('.loadhtml').fadeOut();
            } else {
                img.each(function (i) {
                    var objImg = new Image();
                    objImg.onload = function () {
                        num++;
                        if (num >= i) {
                            $('.loadhtml').fadeOut();
                        }
                    }
                    objImg.src = img[i].src;
                });
            }
        }
    </script>
</head>

<body class="blog-box study-body">
    <!-- Load -->
    <div class="loadhtml" id="load">
        <div class="spinner">
            <div class="spinner-container container1">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
            </div>
            <div class="spinner-container container2">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
            </div>
            <div class="spinner-container container3">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
            </div>
        </div>
    </div>
    <!-- study header -->
    <header class="study-header">
        <div class="container">
            <div class="row">
                <div class="study-nav col-sm-12">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="{:url('index/index/index')}">
                                    <img src="__STATIC__/images/study-logo.png" alt="">
                                </a>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right">
                                    {volist name="cate" id="cate"}
                                    <li {if condition="$cate.id eq 2" }class="active" {/if}> <a href="{:url($cate.cate_link)}">{$cate.cate_name}</a>
                                    </li>
                                    {/volist}
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
                </div>
                <div class="header-say col-sm-12">
                    <div class="say-text col-sm-6">
                        <h4>我需要三件东西：爱情友谊和图书。然而这 三者之间何其相通！炽热的爱情可以充实图 书的内容，图书又是人们最忠实的朋友.</h4>
                        <p>--蒙田</p>
                    </div>
                    <div class="say-img col-sm-6">
                        <img src="__STATIC__/images/study.png" alt="">
                    </div>
                </div>
                <div class="header-line col-sm-12"></div>
            </div>
        </div>
    </header>
    <!-- study content -->
    <section class="study-box">
        <div class="container">
            <div class="row">
                <article class="article-box col-sm-12">
                    <div class="article-header">
                        <img src="__STATIC__/images/heart-article-f.png" alt="">
                    </div>
                    <!-- study fore-end -->
                    <div class="article-li">
                        <div class="li-img">
                            <!-- <h1>前端开发</h1> -->
                        </div>
                        <div class="li-text">
                            <h2>最新文章</h2>
                            <ul class="text-list">
                                <!-- fore-end li -->
                                {volist name="homeArticle" id="nose" empty="暂时没有数据哦"}
                                <li>
                                    <a href="{:url('index/details/details',['cate'=>'nose','serial' => $nose.article_serial.$nose.id])}">{$nose.article_name}</a>
                                    <span>{$nose.article_time|date="Y-m-d",###}</span>
                                </li>
                                {/volist}
                            </ul>
                        </div>
                    </div>
                    <!-- study back-end -->
                    <div class="article-li">
                        <div class="li-text">
                            <div class="li-img-h-top">
                                <!-- <h1>后端开发</h1> -->
                            </div>
                            <h2>最新文章</h2>
                            <ul class="text-list">
                                <!-- back-end li -->
                                {volist name="backArticle" id="backend" empty="暂时没有数据哦"}
                                <li>
                                    <a href="{:url('index/details/details',['cate'=>'backend','serial' => $backend.article_serial.$backend.id])}">{$backend.article_name}</a>
                                    <span>{$backend.article_time|date="Y-m-d",###}</span>
                                </li>
                                {/volist}
                            </ul>
                        </div>
                        <div class="li-img-h">
                            <!-- <h1>后端开发</h1> -->
                        </div>
                    </div>
                    <!-- study servicer -->
                    <div class="article-li">
                        <div class="li-img-f">
                            <!-- <h1>其他</h1> -->
                        </div>
                        <div class="li-text">
                            <h2>最新文章</h2>
                            <ul class="text-list">
                                <!-- back-end li -->
                                {volist name="otherArticle" id="other" empty="暂时没有数据哦"}
                                <li>
                                    <a href="{:url('index/details/details',['cate'=>'other','serial' => $other.article_serial.$other.id])}">{$other.article_name}</a>
                                    <span>{$other.article_time|date="Y-m-d",###}</span>
                                </li>
                                {/volist}
                            </ul>
                        </div>
                    </div>
                    <div class="acticle-more">
                        <a href="{:url('index/aclemore/aclemore')}">查看更多...</a>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <footer class="study-footer">
        <div class="container">
            <div class="row">
                <div class="study-bottom col-sm-12">
                    <div class="footer-contact">
                        <a>
                            <i class="fa fa-qq" style="margin-right: 8px;"></i>939129894</a>
                        <a>
                            <i class="fa fa-weixin" style="margin-right: 8px;"></i>zhangxunxun957loveme</a>
                        <a>
                            <i class="fa fa-envelope-o" style="margin-right: 8px;"></i>zhangxunxun1314@outlook.com</a>
                    </div>
                    <div class="footer-thank">
                        <a href="">感谢您的访问(我有话要说)!</a>
                    </div>
                    <div class="footer-record">
                        <p>2018.8 | ZhangXxun_v2.0</p>
                        <a href="http://www.miitbeian.gov.cn" target="_black">蜀ICP备18020042号-1</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="__JS__/bootstrap.min.js"></script>
</body>

</html>