.blog-box {
    font-family: "Helvetica Neue", Helvetica, Arial, Arvo, sans-serif;
    font-size: 14px;
    color: #888888;
    line-height: 1.6;
    background-image: url('../images/bg2.jpg');
    background-position: center;
    background-size: 10%;
    background-attachment: fixed;
}

.header-welcome {
    padding-top: 18px;
    padding-bottom: 18px;
    background-repeat: no-repeat;
    background-position: center 20%;
    -webkit-background-size: cover;
    background-size: cover;
    /* background-image: url(../images/back.jpg); */
    background-color: #fff;
    text-align: center;
    /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
				0 1px 5px 0 rgba(0, 0, 0, 0.12), 
				0 3px 1px -2px rgba(0, 0, 0, 0.2); */
}

.header-welcome img {
    display: inline-block;
}

@media (max-width:768px) {
    .header-welcome {
        padding: 8px 0;
    }
    .header-welcome img {
        width: 32%;
    }
}

.loadhtml {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999999;
    top: 0;
    left: 0;
    overflow: hidden;
    overflow-y: hidden;
    background-color: rgba(0, 0, 0, .6);
    padding: 460px;
}

.spinner {
    margin: 0 auto;
    margin-bottom: 68px;
    width: 20px;
    height: 20px;
    position: relative;
}

.container1>div,
.container2>div,
.container3>div {
    width: 6px;
    height: 6px;
    background-color: #FFFFFF;
    border-radius: 100%;
    position: absolute;
    -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
    animation: bouncedelay 1.2s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner .spinner-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container2 {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.container3 {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}

.circle1 {
    top: 0;
    left: 0;
}

.circle2 {
    top: 0;
    right: 0;
}

.circle3 {
    right: 0;
    bottom: 0;
}

.circle4 {
    left: 0;
    bottom: 0;
}

.container2 .circle1 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.container3 .circle1 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.container1 .circle2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.container2 .circle2 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.container3 .circle2 {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.container1 .circle3 {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.container2 .circle3 {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.container3 .circle3 {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.container1 .circle4 {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.container2 .circle4 {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.container3 .circle4 {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0.0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes bouncedelay {
    0%,
    80%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.index-footer {
    margin-top: 38px;
    width: 100%;
    background-color: #555555;
    text-align: center;
    vertical-align: middle;
    padding: 28px 18px;
}

.index-footer .footer-contact {
    position: relative;
    display: flex;
    justify-content: center;
}

.index-footer .footer-thank {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    position: relative;
}

.index-footer .footer-record {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    position: relative;
}

.index-footer a {
    font-size: 1.2em;
    color: #fafafa;
    cursor: pointer;
    margin-right: 8px;
}

.index-footer p {
    font-size: 1em;
    color: #fafafa;
    margin: 0;
    cursor: text;
    margin-right: 18px;
}

@media (max-width: 767px) {
    .loadhtml {
        top: -46px;
        left: -254px;
    }
    .index-footer .footer-contact {
        display: block;
    }
    .index-footer .footer-contact a {
        display: block;
    }
}

#msg {
    width: 260px;
    height: 154px;
    position: fixed;
    z-index: 99999;
    top: 49%;
    margin-top: -80px;
    left: 50%;
    margin-left: -133px;
    background: #fff;
    box-shadow: 5px 5px 8px #999;
    -webkit-box-shadow: 5px 5px 8px #999;
    -moz-box-shadow: 5px 5px 8px #999;
    -o-box-shadow: 5px 5px 8px #999;
    font-size: 17px;
    color: #666;
    border: 1px solid #f8f8f8;
    text-align: center;
    line-height: 2rem;
    display: inline-block;
    padding-bottom: 20px;
    border-radius: 5px;
}

#msg_top {
    background: #f8F8F8;
    padding: 5px 15px 5px 20px;
    text-align: left;
    color: #333;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}

#msg_top span {
    font-size: 22px;
    float: right;
    cursor: pointer;
}

#msg_cont {
    color: #333;
    padding: 18px 8px;
    font-size: 14px;
}

#msg_clear {
    display: inline-block;
    color: #fff;
    padding: 4px 16px;
    background: #30a2eb;
    border-radius: 2px;
    line-height: 1.6em;
    cursor: pointer;
    font-size: 14px;
}

#message {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(48, 162, 235, .5);
    width: 0;
    height: 0;
}

#message .mge-input {
    width: 600px;
    background: #f08204;
    position: relative;
    top: -600px;
    left: -200px;
    padding: 18px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 1px 2px 12px #fff inset;
    -webkit-box-shadow: 1px 2px 12px #fff inset;
    -moz-box-shadow: 1px 2px 12px #fff inset;
    -o-box-shadow: 1px 2px 12px #fff inset;
}

#message .mge-input .mge-title {
    padding: 8px 2px;
}

#message .mge-input .mge-title h3 {
    margin: 0;
    padding: 0;
    margin-top: 18px;
    color: #fff;
}

#message .mge-input .mge-content {
    padding: 8px 12px;
}

#message .mge-input .mge-content #mgeContent {
    resize: none;
}

@media (max-width:767px) {
    #message .mge-input{
        width: 80%;
    }
}