{include file="public/header"}

<body>
    <div class="x-body">
        <form class="layui-form">
            <div class="layui-form-item">
                <label for="tagsname" class="layui-form-label">
                    <span class="x-red">*</span>标签名称
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="tagsname" name="tagsname" required="" lay-verify="required" autocomplete="off"
                        class="layui-input" value="{$tags.tags_title}">
                    <input type="hidden" name="tid" value="{$tags.id}">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>请输入标签名称
                </div>
            </div>
            <div class="layui-form-item">
                <label for="tagsname" class="layui-form-label">
                    <span class="x-red">*</span>标签颜色
                </label>
                <div class="layui-input-inline" style="width: 120px;">
                    <input type="text" name="tagscolor" value="{$tags.tags_color}" placeholder="请选择颜色" lay-verify="required" class="layui-input"
                        id="colorbox">
                </div>
                <div class="layui-inline" style="left: -11px;">
                    <div id="color-opt"></div>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">标签描述</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入标签描述" name="tagsdesc" class="layui-textarea" style="resize:none; width:20%;">{$tags.tags_desc}</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="" class="layui-form-label">
                </label>
                <button class="layui-btn" lay-filter="add" lay-submit="">
                    确认修改
                </button>
            </div>
        </form>
    </div>
    <script>
        layui.use(['form', 'layer', 'colorpicker'], function () {
            $ = layui.jquery;
            var form = layui.form
                , layer = layui.layer;
            var colorpicker = layui.colorpicker;
            //监听提交
            form.on('submit(add)', function (data) {
                var dataInfo = data.field;
                $.ajax({
                    type: 'post'
                    , data: { 'data': dataInfo }
                    , url: "{:url('admin/tags/updateTagsHandle')}"
                    , dataType: 'json'
                    , success: function (response) {
                        layer.alert(response, { icon: 7 }, function () {
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        });
                    }
                });
                return false;
            });
            colorpicker.render({
                elem: '#color-opt'
                , color: '#1c97f5'
                , done: function (color) {
                    $('#colorbox').val(color);
                }
            });
        });
    </script>
</body>

</html>